version: "3.9"

services:
  api:
    build: ./services/api
    environment:
      - NODE_ENV=development
      - PORT=3000
      - MONGO_URL=mongodb://mongo:27017/coworkreserve
      - RABBITMQ_URL=amqp://rabbitmq
      - JWT_SECRET=dev-secret
      - KEYCLOAK_REALM=coworkreserve
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_CLIENT_ID=cowork-api
    ports:
      - "3000:3000"
    depends_on:
      - mongo
      - rabbitmq
      - keycloak

  graphql-bff:
    build: ./services/graphql-bff
    environment:
      - API_BASE=http://api:3000/v1
      - PORT=4000
    ports:
      - "4000:4000"
    depends_on:
      - api

  websocket-occupancy:
    build: ./services/websocket-occupancy
    environment:
      - PORT=5000
      - JWT_SECRET=dev-secret
      - KEYCLOAK_REALM=coworkreserve
      - KEYCLOAK_URL=http://keycloak:8080
      - KEYCLOAK_CLIENT_ID=cowork-api

    ports:
      - "5000:5000"
    depends_on:
      - api

  worker-email:
    build: ./services/worker-email
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - SMTP_HOST=mailhog
      - SMTP_PORT=1025
    depends_on:
      - rabbitmq
      - mailhog

  worker-no-show:
    build: ./services/worker-no-show
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MONGO_URL=mongodb://mongo:27017/coworkreserve
    depends_on:
      - rabbitmq
      - mongo

  scheduler:
    build: ./services/scheduler
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - API_BASE=http://api:3000/v1
      - MONGO_URL=mongodb://mongo:27017/coworkreserve  
    depends_on:
      - api
      - rabbitmq
      - mongo

  mongo:
    image: mongo:7
    container_name: cowork_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: cowork_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  mailhog:
    image: mailhog/mailhog
    container_name: cowork_mailhog
    ports:
      - "8025:8025"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.0
    command:
      - start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"

  # Observability stack
  prometheus:
    image: prom/prometheus:latest
    container_name: cowork_prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: cowork_grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3030:3000"
    depends_on:
      - prometheus

volumes:
  mongo_data:
  prometheus_data:
  grafana_data:
